.color-green {
    color: #00ffa3 !important;
}
.loadMoreParent {
    .loadMoreItem {
        display: none;
    }
}
.loadMoreParent1 {
    .loadMoreItem1 {
        display: none;
    }
}

.social-share-style-1{
    .social-link{
        &:hover{
            svg *{
                color: green !important;
            }
        }
    }
}